/* .App {
  text-align: center;
} 
*/

.head{
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  border:3px solid whitesmoke;
  box-shadow: 4px 8px 16px whitesmoke;

}
img{
  margin-left: 15px;
  margin-top: 5px;
}
.ss{
  display: flex;
  flex-direction: row;
  background:#E4D8E3;
  border: #E4D8E3;
  margin-left: 550px;
  border-radius: 30px;
  /* align-items: center;
  justify-content: center; */
  margin-top: 20px;
  width: 26%;
  height: 30px;
}
 #sss{
  margin-left:15px;
 
  width:86%;
  height: 100%;
  border-right: none;
  border: none;
  background-color: #E4D8E3;
  
} 
 label{
  
  margin-top: 6px;
  margin-left: 10px;
} 
.prof{
  display: block;
}
#noti{
  margin-left: 150px;
  margin-top: 20px;
  font-size: 2rem;
}
h3{
  margin-top: -50px;
  margin-left: 60px;
}
p{
  margin-top: -20px;
  margin-left: 60px;
}
#do{
 font-size: 1rem;
position: absolute;
top:30px;
left: 89%;

}
ul{
  margin-left: 15px;
  list-style: none;
  height:600px;
  overflow: hidden;
  width:200px;
  border:2px solid #E4D8E3;;
  box-shadow: 4px 8px 16px #E4D8E3;;
  
}
li a{
  color: black;
  margin-right: 30px;
  text-decoration: none;
  width:200px;
  height: 60px;

  

}
li a:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 20px;
  width:50%;
}
#hw{
  position: absolute;
  left:20%;
  top:15%;
  font-style: italic;
  font-size: 1.4rem;
  

}





